<h1>Recipe Show</h1>

<p>Name: <%= @recipe.name %></p>
<p>Cooktime: <%= @recipe.cooktime/60 %> mins</p>
<p>Cuisine: <%= @recipe.cuisine %></p>
<p>Instructions: <%= @recipe.instructions %></p>

<%= link_to "Dishes", week_day_path(params[:day_id]) %>
