<h1>Shopping Items Index</h1>

<% @shopping_items.each do |item| %>
  <p>Name: <%= item.ingredient.name %> - Total: <%= item.total %> - Units: <%= item.unit %> - Purchased: <%= item.purchased %></p>
<% end %>

<%= link_to "Week show", weeks_path %>
